.centered {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.invisible {
  display: none;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.flex {
  display: flex;
}
.grow {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.site-container {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  position: relative;
}
@media (max-width: 800px) {
  .site-container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .site-container {
    width: 100%;
  }
}
a {
  text-decoration: none;
}
body {
  background-color: #5ab9ea;
  color: white;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  margin-left: 1rem;
}
@media (max-width: 800px) {
  h1 {
    font-size: 4vw;
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 4vw;
    width: 100%;
    margin-bottom: 2rem;
  }
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.logo-img {
  display: flex;
  height: 6rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 800px) {
  .logo-img {
    width: 100%;
    height: 8rem;
  }
}
@media (max-width: 500px) {
  .logo-img {
    width: 100%;
    height: 8rem;
  }
}
.header-elements {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
@media (max-width: 800px) {
  .header-elements {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .header-elements {
    width: 100%;
    flex-direction: column;
  }
}
.branding-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  .branding-container {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .branding-container {
    max-width: 100%;
    flex-direction: column;
  }
}
.top-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 80%;
}
@media (max-width: 800px) {
  .top-section {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .top-section {
    max-width: 100%;
    flex-direction: column;
  }
}
.top-content {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 2rem;
}
.top-content p {
  font-size: 1.3rem;
}
@media (max-width: 800px) {
  .top-content {
    max-width: 100%;
    font-size: 2.5rem;
    line-height: 4rem;
    padding-bottom: 4rem;
    border-bottom: 0.2rem dotted white;
  }
}
@media (max-width: 500px) {
  .top-content {
    max-width: 100%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 4rem;
    border-bottom: 0.2rem dotted white;
  }
}
.top-img {
  width: 35%;
}
@media (max-width: 800px) {
  .top-img {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .top-img {
    width: 50%;
  }
}
.mid-content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-top: 1rem;
}
.middle-copy {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 2rem;
}
.middle-img {
  display: flex;
  width: 35%;
}
.middle-img {
  display: flex;
  width: 35%;
}
@media (max-width: 800px) {
  .middle-img {
    width: 50%;
  }
}
.bottom-content {
  display: flex;
  flex-direction: column;
  margin: 6rem;
}
.bottom-content button {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15%;
  height: 5rem;
  margin-top: 3rem;
  border: 0.15rem solid white;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #5ab9ea;
  color: white;
  font-size: 1.2vw;
}
@media (max-width: 800px) {
  .bottom-content button {
    width: 20vw;
    height: 8vh;
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .bottom-content button {
    width: 20vw;
    height: 8vh;
    font-size: 2vw;
  }
}
.bottom-content button:hover {
  background-color: rgba(23, 190, 187, 0.856);
  color: white;
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  font-size: 0.85rem;
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
}
footer p {
  font-size: 1rem;
}
@media (max-width: 500px) {
  footer .icon-attribution {
    font-size: 0.9rem;
  }
}
.footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon-attribution {
  font-size: 0.6rem;
}
li:last-child {
  margin-bottom: 0.5rem;
}
.navigation {
  display: flex;
  margin-top: 25px;
  height: 3rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 800px) {
  .navigation {
    width: 100%;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
@media (max-width: 500px) {
  .navigation {
    max-width: 100%;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
.navigation a {
  text-decoration: none;
  padding: 2.1rem;
  padding-bottom: 4rem;
  height: 3rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4vw;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 800px) {
  .navigation a {
    width: 40%;
    font-size: 2.5vw;
    border-bottom: 0.2rem dotted white;
  }
}
@media (max-width: 500px) {
  .navigation a {
    max-width: 40%;
    font-size: 2.5vw;
  }
}
.navigation a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  font-size: 0.85vw;
  margin-top: 2rem;
  width: 100%;
}
@media (max-width: 800px) {
  footer {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  footer {
    font-size: 2vw;
  }
}
.footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon-attribution {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
@media (max-width: 800px) {
  .icon-attribution {
    font-size: 1.7vw;
  }
}
@media (max-width: 500px) {
  .icon-attribution {
    font-size: 1.7vw;
  }
}
li:last-child {
  margin-bottom: 0.7rem;
}
