/* ----- OUR CODE BELOW ----- */

html {
    font-size: 62.5%;
}

.header-elements {

}

.logo-img {

}

.navigation {

}

nav a {

}

.top-content {

}

.mid-content {
    display: flex;
    border: 1px solid red;
}

.middle-copy {

}

.middle-img {

}

.bottom-content {

}

footer {

}