//LESS file for containing all elements found within the footer.


footer {
	.flex();
	.centered();
	position: absolute;
	font-size: .7vw;
	margin-top: 2rem;
	width: 100%;
	

	@media @tablet {
		width: 100%
	}

	@media @mobile {
		width: 100%;
	}

	a {
		text-decoration: none;
		color: white;
		font-size: .9rem;
	}

}

.footer-container {
	.flex();
	.centered();
}

.icon-attribution {
	font-size: .9rem;
	margin-bottom: 1rem;

	@media @tablet {
		font-size: 1.7vw;
		padding: .5rem;
	}

	@media @mobile {
		font-size: 1.7vw;
		padding: .5rem;

	}
}


li:last-child {
	margin-bottom: .7rem;
	padding: .5rem;

}