//Overall styles for the whole page

html {
    font-size: 62.5%;
    .roboto();
    font-size: 1rem;
    min-height: 100%;
}

.site-container {
    width: 80%;
    .centered();
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

//styles for the top of the page




//styles for the middle of the page




//styles for the bottom of the page


.mid-content {
    .flex();
}

.middle-copy {
    .centered();
    .flex();
    flex-direction: column;
    width: 30%;
}

.middle-img {
    width: 50%;

}

.bottom-content{
    .flex();
    flex-direction: column;

    button {
        .centered();
        width: 10%;
    }
}

footer {
    .flex();
    .centered();
    flex-shrink: 0;
    font-size: .85rem;
    margin: 0 auto;
}