.centered {
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.invisible {
	display: none;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.flex {
	display: flex;
}

.grow {
	transform: scale(1.1);
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.colorful {
	background: rgb(70, 102, 125);
	background: -moz-linear-gradient(108deg, rgba(70, 102, 125, 1) 0%, rgba(82, 162, 185, 1) 32%, rgba(0, 212, 255, 0.9096335078893083) 63%);
	background: -webkit-linear-gradient(108deg, rgba(70, 102, 125, 1) 0%, rgba(82, 162, 185, 1) 32%, rgba(0, 212, 255, 0.9096335078893083) 63%);
	background: linear-gradient(108deg, rgba(70, 102, 125, 1) 0%, rgba(82, 162, 185, 1) 32%, rgba(0, 212, 255, 0.9096335078893083) 63%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46667d", endColorstr="#00d4ff", GradientType=1);
}