.header-elements {
	.flex();
	.centered();
	flex-direction: column;
	padding-top: 2rem;
	width: 100%;

	@media @tablet {
		width: 100%;
		flex-direction: column;
	}

	@media @mobile {
		width: 100%;
		flex-direction: column;
	}

}

.branding-container {
	.flex();
	.centered();
	width: 50%;
	transform: scale(0.7);
	margin-bottom: .5rem;
	// border: 1px solid white;

	@media @tablet {
		width: 100%;
		flex-direction: column;
		margin-bottom: .5rem;
	}

	@media @mobile {
		width: 100%;
		flex-direction: column;
		margin-bottom: .5rem;
	}
}

.logo-img {
	.flex();
	height: 6rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;

	@media @tablet {
		width: 100%;
		height: 5rem;
	}

	@media @mobile {
		width: 100%;
		height: 5rem;
	}
}

.navigation {
	.flex();
	.centered();
	width: 90%;
	padding-top: 1rem;
	height: 3rem;
	z-index: 1;

	@media @tablet {
		width: 100%;
		flex-direction: column;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	@media @mobile {
		width: 100%;
		flex-direction: column;
		margin-top: 4rem;
		margin-bottom: 6rem;
	}
}

.fixed-nav .navigation {
	position: fixed;
	top: 0;
	width: 85%;
	// transition-duration: 0.1s;
	background: #5AB9EA;
	
}



.navigation a {
	color: white;
	text-decoration: none;
	padding: 1rem;
	padding-top: 1rem;
	height: 2rem;
	.centered();
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: white;
	.montserrat();

	@media @tablet {
		width: 45%;
		border-bottom: .2rem dotted white;
	}

	@media @mobile {
		width: 45%;
		font-size: 1rem;
	}
}

.navigation a:hover {
	cursor: pointer;
	.grow();
}

/*This is the experimental section. If I get this working, I'll remove the other stuff above this.*/

// #main {
// 	.flex();
// 	.centered();
// 	width: 90%;
// 	padding-top: 2rem;
// 	height: 3rem;
// 	// border: 1px solid white;

// 	@media @tablet {
// 		width: 100%;
// 		flex-direction: column;
// 		margin-top: 4rem;
// 		margin-bottom: 4rem;
// 	}

// 	@media @mobile {
// 		width: 100%;
// 		flex-direction: column;
// 		margin-top: 4rem;
// 		margin-bottom: 6rem;
// 	}
// }

// .fixed-nav nav {
// 	position: fixed;
// 	width: 90%;
// }


// #main a {
// 	color: white;
// 	text-decoration: none;
// 	padding: 1rem;
// 	padding-top: 1rem;
// 	height: 2rem;
// 	.centered();
// 	font-size: 1.2rem;
// 	margin-bottom: 1rem;
// 	color: white;
// 	.montserrat();

// 	@media @tablet {
// 		width: 45%;
// 		border-bottom: .2rem dotted white;
// 	}

// 	@media @mobile {
// 		width: 45%;
// 		font-size: 1rem;
// 	}
	
// 	:hover {
// 		cursor: pointer;
// 		.grow();
// 	}
// }

