.navigation {
	.flex();
	margin-top: 25px;
	height: 3rem;
	.centered();
}

.navigation a {
	color: white;
	margin-right: 35px;
	text-decoration: none;
	height: 3rem;

	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: white;
	.montserrat();
}

.navigation a:hover {
	cursor: pointer;
	.grow();
}
